@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3rem 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #0e0f11;
    color: #c0c0c0;
}

h1,
h2,
h3 {
    color: #efeff0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 4rem 0 2rem;
}

.section__title {
    font-size: 7.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.section__title-gradient {
    background: linear-gradient(#3a3c3e, #121416);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.main {
    overflow: hidden;
}

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: transparent;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    width: 1.5rem;
}

.nav__toggle {
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: #0e0f11;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        transition: .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.nav__link {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(#3a3c3e, #121416);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: .4s;
}

.nav__link:hover {
    background: #fff;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    color: #fff;
    cursor: pointer;
}

.show-menu {
    top: 0;
}

.scroll-header {
    background-color: #0e0f11;
}

.active-link {
    background: #fff;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home__img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

.home__data {
    padding-top: 5rem;
}

.homeHeader {
    position: relative;
}

.home__title {
    position: absolute;
    top: -4rem;
    left: 1rem;
    line-height: 6rem;
    font-size: 3rem;
    background: linear-gradient(#3a3c3e, #121416);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.home__subtitle {
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

.home__title-description {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 2.5rem;
    line-height: 2rem;
}

.home__price {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 0.75rem;
}

@media screen and (min-width: 576px) {
    .home__img {
        margin-top: 0.2rem;
    }
}

@media screen and (min-width: 768px) {
    .home__img {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .home__img {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    .home__img {
        margin-top: 3rem;
    }
}

.button {
    display: inline-block;
    background-color: #0a0a0b;
    color: #fff;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    font-size: 1rem;
}

.button:hover {
    background-color: #121416;
}

.button__icon {
    font-size: 1.2rem;
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}

.specs {
    margin-top: 30px;
}

.specs__container {
    position: relative;
}

.specs__content {
    row-gap: 1.8rem;
}

.specs__data {
    display: grid;
    row-gap: .25rem;
}

.specs__icon {
    font-size: 1.2rem;
    color: #fff;
}

.specs__title {
    font-size: 1rem;
    font-weight: 500;
}

.specs__subtitle {
    font-size: 0.813rem;
}

.specs__data:nth-child(1),
.specs__data:nth-child(5) {
    margin-left: 3.3rem;
}

.specs__data:nth-child(2),
.specs__data:nth-child(4) {
    margin-left: 1.3rem;
}

.specs__img {
    width: 250px;
    position: absolute;
    top: 2rem;
    right: -4rem;
}

.case__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
}

.case__data {
    padding: 5rem 0 3rem;
}

.case__img {
    width: 250px;
    position: absolute;
    left: -7rem;
}

.case__description {
    margin-bottom: 1.5rem;
    line-height: 2rem;
    font-size: 1rem;
}

.package_data ul li {
    font-size: 0.5rem;
}

.discount__container {
    position: relative;
    background-color: #17191b;
    padding: 2rem 1.5rem;
    border-radius: .75rem;
}

.discount__title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.discount__description {
    margin-bottom: 1rem;
}

.discount__img {
    width: 300px;
    position: absolute;
    top: 4rem;
    right: -11rem;
}

.products__line {
    line-height: 4rem;
}

.products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 1.5rem;
    padding-top: 3rem;
}

.products__card {
    position: relative;
    height: 132px;
    background-color: #17191b;
    padding: .75rem;
    border-radius: .5rem;
    display: grid;
}

.products__img {
    width: 150px;
    position: absolute;
    inset: 0;
    margin-right: auto;
    margin-left: auto;
    top: -3rem;
}

.products__content {
    align-self: flex-end;
}

.products__title,
.products__price {
    font-size: 0.875rem;
}

.products__price {
    font-weight: 600;
}

.products__button {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    padding: .5rem;
    border-radius: .35rem;
}

.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}

.footer__logo {
    width: 2rem;
}

.footer__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.footer__link {
    color: #c0c0c1;
}

.footer__link:hover {
    color: #fff;
}

.footer__form {
    display: flex;
    column-gap: .5rem;
    background-color: #17191b;
    padding: .5rem .75rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.footer__input {
    background-color: #17191b;
    width: 90%;
    color: #fff;
}

.footer__input::placeholder {
    color: #c0c0c0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}


.footer__social {
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link {
    display: inline-flex;
    color: #fff;
    background-color: #17191b;
    padding: .5rem;
    border-radius: .25rem;
    font-size: 1rem;
}

.footer__social-link:hover {
    background-color: #0a0a0b;
}

.footer__copy {
    margin-top: 5rem;
    text-align: center;
}

.footer__copy-link {
    font-size: .813rem;
    color: #a9a9aa;
}

.contact {
    padding: 50px 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
}

.contact h3 {
    margin-bottom: 20px;
    font-size: 2rem;
    position: relative;
}

.contact h3::after {
    content: '';
    width: 60px;
    height: 4px;
    background: white;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    position: relative;
    margin-top: 30px;
}

.contact label {
    margin-top: 45px;
    font-size: 1.1em;
}

.contact input,
.contact textarea {
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
}

.contact textarea {
    resize: none;
}

.contact input:focus,
.contact input:hover,
.contact textarea:focus,
.contact textarea:hover {
    background: rgba(255, 255, 255, 0.25);
}

.contact::placeholder {
    color: #c0c0c0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

::-webkit-input-placeholder {
    color: #FFF;
}

.contact button {
    margin-top: 20px;
    padding: 12px 20px;
    background: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.contact button:hover {
    background: tomato;
    transform: scale(1.05);
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: #17191b;
    border-radius: .25rem;
    padding: .45rem;
    opacity: 9;
    z-index: 10;
    transition: .4s;
}

.scroll-to-top:hover {
    background-color: #0a0a0b;
    opacity: 1;
}

.show-scroll {
    bottom: 4.5rem;
}

.scroll-to-top__icon {
    color: #fff;
    font-size: 1.35rem;
}

::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #2b2d30;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #35383b;
}

@media screen and (min-width: 340px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section__title {
        font-size: 2.5rem;
    }

    .home__title {
        top: -4rem;
        font-size: 3.5rem;
    }

    .home__data {
        padding-top: 1rem;
    }

    .home__description {
        font-size: 0.813rem;
    }

    .button {
        font-size: 0.9rem;
    }

    .specs__img {
        width: 200px;
    }

    .case__container {
        grid-template-columns: .6fr 0.5fr;
    }

    .case__img {
        width: 220px;
        top: -2rem;
        left: -9rem;
    }

    .case__data {
        padding: 0;
    }

    .products__container {
        grid-template-columns: 142px;
        justify-content: center;
    }

    .contact {
        padding: 30px 0px;
    }

    .contact input,
    .contact textarea {
        height: 45px;
        padding: 0 10px 0 25px;
    }

    .contact button {
        padding: 10px 16px;
        font-size: 1rem;
    }

    .contact h3 {
        font-size: 1.5rem;
    }

    .discount__img {
        width: 150px;
        right: 0rem;
    }

    .case__img {
        width: 150px;
        left: 0rem;
    }

    .case__description {
        font-size: 0.9rem;
    }

    .products__img {
        width: 100px;
    }

    .package_data ul li {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 420px) {
    .discount__img {
        width: 250px;
        right: 0rem;
    }

    .case__description {
        font-size: 1rem;
    }


}

@media screen and (min-width: 575px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .homeContainer {
        grid-template-columns: .8fr 1fr;
    }

    .home__data {
        padding-top: 2rem;
    }

    .specs__img {
        position: initial;
    }

    .specs__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .case__img {
        position: initial;
    }

    .case__data {
        padding: 0;
    }

    .case__container {
        grid-template-columns: max-content 250px;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
    }

    .discount__img {
        position: initial;
    }

    .discount__container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .package_data ul li {
        font-size: 1rem;
    }
}

@media screen and (min-width: 765px) {
    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: 4.5rem;
    }

    .nav__logo {
        width: 2rem;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .nav__link {
        font-size: 0.938rem;
        text-transform: initial;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .homeContainer {
        position: relative;
        grid-template-columns: repeat(2, 1fr);
    }

    .home__data {
        padding-top: 8rem;
    }

    .specs__img {
        width: 300px;
    }

    .case__container {
        column-gap: 5rem;
    }

    .case__img {
        width: 300px;
    }

    .case__description {
        margin-bottom: 2rem;
    }

    .discount__container {
        grid-template-columns: 250px max-content;
        justify-content: center;
        column-gap: 5rem;
        padding: 3rem 0;
    }

    .discount__title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .discount__description {
        margin-bottom: 2rem;
    }

    .products__container {
        grid-template-columns: repeat(3, 162px);
        gap: 6rem 3rem;
        padding-top: 5rem;
    }

    .products__card {
        height: 152px;
        padding: .85rem;
    }

    .products__img {
        width: 110px;
    }

    .footer__container {
        grid-template-columns: .4fr .7fr .7fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home__title {
        top: -5rem;
        left: 3.5rem;
    }

    .home__description {
        padding-right: 5rem;
    }

    .sponsor__img {
        width: 100px;
    }

    .discount__img {
        width: 350px;
    }

    .footer__container {
        padding-top: 3rem;
    }

    .footer__copy {
        margin-top: 9rem;
    }

    .contact input,
    .contact textarea {
        width: 100%;
    }
} 